<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    //封装get()方法
    function get(url,callback) {
        var xmlhttp;
        //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
        xmlhttp=new XMLHttpRequest();
        //请求成功后调用回调函数
        xmlhttp.onreadystatechange=function(){
            if (xmlhttp.readyState==4 && xmlhttp.status==200){
              callback(xmlhttp.responseText);
            }
        };
        xmlhttp.open("GET",url,true);
        xmlhttp.send();
    }
    
    get("data.json",function (data) {
        console.log(data);
    });
    
</script>
</body>
</html>